.app {
  width: 375px;
  height: 667px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  background-color: var(--milkwhite);
  padding: 3rem 0 3rem 10rem;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.text-app {
  width: 70%;
}

.app-background {
  height: 555px;
  background-image: url(images/app-background.png);
}

.app-fat-text {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  height: 52px;
  box-shadow: inset 0px 5px 9px -5px rgba(0, 0, 0, 0.25);
}

.fat-text {
  padding-left: 0.5rem;
}

.app-background p {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

.app-header {
  width: 385px;
}

.app-header img {
  padding: 0.5rem 0 0.5rem 0.5rem;
  width: 180px;
}

.input {
  padding: 4rem 0 0 1rem;
  display: flex;
  align-items: center;
}

.input p {
  padding: 0 1rem 0 0;
}

.input input {
  width: 243px;
  height: 42px;
}

.distance-input::placeholder {
  text-align: right;
  color: var(--red);
  padding-right: 1rem;
  font-size: 18px;
  line-height: 23px;
}

.app-dropdown-area {
  display: flex;
  padding: 2rem 0 0 1rem;
}

.how-text {
  padding: 0.5rem 0.6rem 0 0;
}

.app-dropdown {
  width: 247px;
  height: 46px;
  background: #ffffff;
  border: 2px solid var(--red);
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-dropdown p {
  color: var(--red);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.app-dropdown img {
  width: 16px;
  height: 9px;
  padding: 0.3rem 0 0 1rem;
}

.app-dropdown img:hover {
  cursor: pointer;
}

.app-upload {
  display: flex;
  padding: 3rem 0 4rem 3rem;
}

.app-upload p {
  color: var(--red);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  padding-right: 0.3rem;
}

.app-register {
  width: 330px;
  height: 46px;
  background: var(--red);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-flex {
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

.app-register p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.app-register p:hover {
  cursor: pointer;
}

.position-wrapper {
  display: flex;
  align-items: center;
  padding: 0 7rem 0 0;
}

.app-footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 1rem 0 1rem;
}

.app-footer p {
  color: var(--darkgray);
}

.footer-home img,
.footer-membership img,
.footer-living img,
.footer-information img {
  color: var(--darkgray);
  width: 1.8rem;
  padding-top: 0.2rem;
}

.footer-membership img {
  padding: 0.2rem 0 0 1.5rem;
}

.footer-living img {
  padding: 0.2rem 0 0 0.5rem;
}

.footer-information img {
  padding: 0.2rem 0 0 1rem;
}

.footer-living:hover {
  color: var(--red);
}

.dropdown-menu {
  width: 247px;
  height: 155px;
  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0 1rem 0;
  align-items: center;
  display: none;
  position: absolute;
  left: 17.3rem;
  top: 117.5rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.dropdown-menu p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: var(--red);
}

.dropdown-text-expanded {
  transition: 0.2s ease-in-out;
}

.dropdown-text-expanded:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (max-width: 414px) {
  .app-wrapper {
    padding: 0;
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .text-app {
    width: 100%;
  }
}
