* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  /* font-family: "EB Garamond", serif; */
}

:root {
  --gold: #e6b450;
  --weak-gold: #faf0d7;
  --green: #82b4a0;
  --weak-green: #d7f0e6;
  --darkblue: #41505f;
  --weak-darkblue: #d8e5e7;
  --lightblue: #4a6f7d;
  --weak-lightblue: #d8e5e7;
  --red: #e66969;
  --weak-red: #faebeb;
  --darkgray: #4a4a49;
  --gray: #b2b2b2;
  --milkwhite: #ededed;
}

.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.play-button,
.pause-button {
  border: none;
  transition: 0.3s ease-in-out;
  outline: none;
  background-color: white;
}

.play-button:hover,
.pause-button:hover {
  transform: scale(1.2);
}

.play-button:active,
.pause-button:active {
  transform: scale(0.8);
}

.pause-button {
  width: 32px;
}

.play-img {
  width: 2rem;
}

.video {
  width: 60%;
}

.buttons {
  width: 80px;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.main-header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header img {
  padding-top: 1.5rem;
  width: 50%;
}
